.section_1 {
    display: grid;
    grid-template-columns: 70% 30%;
    @media screen and (max-width: 768px) {
        grid-template-columns: 60% 40%;
    }

    .Navbar {
        grid-row: 1/2;
        grid-column: 1/3;
        position: relative;
        z-index: 100;
    }

    .img {
        grid-row: 1/3;
        grid-column: 2/3;
        background: url("../../../../assets/background.png");
        background-size: cover;
        transform: translateX(3rem);
    }
}

.section_1_content {
    position: relative;
    margin-top: 3rem;
    grid-row: 2/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 30% 10% 60%;

    @media screen and (max-width: 768px) {
        grid-template-columns: 30% 30% 40%;
    }

    @media screen and (max-width: 550px) {
        transform: translateY(-1.5rem);
    }

    .slogan {
        position: relative;
        z-index: 10;
        width: 100%;
        grid-row: 1/2;
        grid-column: 1/3;
        padding: 1rem;

        @media screen and (max-width: 768px) {
            background: rgba(255, 255, 255, 0.63);
            grid-column: 1/4;
        }

        h1 {
            color: var(--dark-green);
            font-size: 3rem;
            margin-bottom: 0.5rem;
            width: 80%;
            @media screen and (max-width: 1150px) {
                font-size: 2.5rem;
                width: 90%;
            }
            @media screen and (max-width: 875px) {
                width: 100%;
            }
            @media screen and (max-width: 768px) {
                font-size: 3rem;
            }
            @media screen and (max-width: 425px) {
                font-size: 2.3rem;
            }
        }

        p {
            color: var(--gray);
            width: 70%;
            font-size: 1.3rem;
            margin-bottom: 0.5rem;
            height: max-content;
            @media screen and (max-width: 1150px) {
                font-size: 1rem;
                width: 75%;
            }
            @media screen and (max-width: 875px) {
                width: 85%;
            }
            @media screen and (max-width: 768px) {
                font-size: 1.3rem;
                color: var(--dark-green);
            }
            @media screen and (max-width: 425px) {
                font-size: 1.1rem;
            }
        }
    }

    .search_container {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        gap: 1rem;
        border: 1px solid rgba(216, 216, 216, 0.56);
        width: max-content;
        background: white;
        margin-top: 2rem;
        padding-block: 1rem;
        @media screen and (max-width: 1024px) {
            gap: 8px;
        }
        @media screen and (max-width: 768px) {
            border: none;
            gap: 1rem;
            padding-left: 6px;
            padding-right: 2rem;
            border-radius: 0px 20px 0px 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        @media screen and (max-width: 430px) {
            width: 100%;
        }

        & > * {
            padding: 1rem;
            @media screen and (max-width: 800px) {
                padding: 0.8rem;
            }
            @media screen and (max-width: 768px) {
                padding: 0rem;
            }
        }

        .location_container,
        .price_container {
            position: relative;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 768px) {
                align-items: flex-start;
            }

            span {
                color: var(--dark-green);
                font-weight: 500;
                font-size: 1.1rem;
                height: 2rem;
            }

            input {
                border: none;
                outline: 1px solid var(--gray);
                padding: 0.2rem 0.5rem;
                font-size: 1rem;
                color: var(--dark-green);
                width: 300px;
                height: 28px;
                @media screen and (max-width: 430px) {
                    width: 100%;
                }
            }

            select {
                border: none;
                outline: 1px solid var(--gray);
                padding: 0.2rem 0.5rem;
                width: 120px;
                height: 28px;
                font-size: 1rem;
                color: var(--dark-green);
                @media screen and (max-width: 430px) {
                    width: 100%;
                }
                option {
                    color: var(--dark-green);
                }
            }
        }

        .location_container:after {
            position: absolute;
            content: "";
            background: rgba(216, 216, 216, 0.56);
            padding-top: 4rem;
            padding-right: 1px;
            right: -6px;
            top: 50%;
            transform: translateY(-50%);
            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        .price_container {
            @media screen and (max-width: 768px) {
                align-self: flex-start;
            }
        }

        .btn_search {
            display: flex;
            border: none;
            outline: none;
            background: var(--dark-green);
            transform: translateY(0.35rem);
            margin-right: 1rem;
            padding: 0;
            @media screen and (max-width: 768px) {
                transform: translateY(0);
                margin-right: 0rem;
                margin-top: 2rem;
            }
            a {
                padding: 0.5rem 1.5rem;
                font-size: 1.3rem;
                color: whitesmoke;
                border: 1px solid transparent;
                align-self: center;
                transition: all ease-in-out 300ms;
                @media screen and (max-width: 768px) {
                    padding: 0.5rem 4rem;
                }

                &:hover {
                    background: white;
                    border-color: var(--dark-green);
                    color: var(--dark-green);
                }
            }
        }
    }

    .slogan_image {
        grid-column: 3/4;
        grid-row: 1/2;
        transform: translateX(0);

        @media screen and (max-width: 768px) {
            position: absolute;
            top: 0;
            right: 0;
        }

        @media screen and (max-width: 550px) {
            right: -20%;
            width: 100%;
            height: 100%;
            grid-column: unset;
        }

        img {
            width: 700px;
            height: 600px;
            object-fit: cover;
            @media screen and (max-width: 1150px) {
                width: 600px;
                height: 500px;
            }
            @media screen and (max-width: 875px) {
                width: 400px;
                height: 500px;
            }
            @media screen and (max-width: 768px) {
                width: 400px;
                height: 550px;
            }

            @media screen and (max-width: 550px) {
                width: 100%;
                height: 100%;
            }
        }
    }
}
