.section_5 {
    margin-top: 6rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
    overflow-x: hidden;

    .action {
        position: absolute;
        top: 5rem;
        left: 2rem;
        width: 400px;
        background: white;
        height: max-content;
        padding: 2rem;
        @media screen and (max-width: 1100px) {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        @media screen and (max-width: 370px) {
            width: 90vw;
        }
        h1 {
            font-size: 2.2rem;
            color: var(--dark-green);
            margin-bottom: 1rem;
            @media screen and (max-width: 370px) {
                font-size: 1.8rem;
            }
        }
    }

    .image_container_1 {
        position: relative;
        z-index: -2;
        margin-right: 1.5rem;
        display: flex;
        align-items: flex-end;
        img {
            width: 500px;
            height: 400px;
            object-fit: cover;
            @media screen and (max-width: 1100px) {
                width: 350px;
            }
        }
    }

    .image_container_2 {
        position: relative;
        display: flex;
        align-items: flex-end;
        z-index: -2;
        img {
            width: 40vw;
            height: 500px;
            object-fit: cover;
        }
    }
}
